# Output directories
lib
build

# Nyc (test coverage) files
coverage
.nyc_output

# Npm + yarn files
node_modules
npm-debug.log*
npm-error.log*
package-lock.json
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
lerna-error.log*

# Ignore subprojects' dotenv files. Don't ignore /.env used by docker-compose
*/.env
