.navPusher {
    height: initial;
}

code {
    font-size: 16px;
    padding: 2px;
    margin: 0px 2px;
}

.homeContainer .button {
    width: 120px;
}

.splitter {
    display: flex;
    justify-content: space-between;
}
.splitter .left {
    width: calc(50% - 16px);
}
.splitter .right {
    width: calc(50% - 16px);
}
