/* Make inline code fit better withsorrounding text (height, spacing) */
code {
    font-size: 16px;
    padding: 2px;
    margin: 0px 2px;
}

/* Make all buttons on the home page the same width */
.homeContainer .button {
    width: 120px;
}

/* Splits a section of an article in two columns */
.splitter {
    display: flex;
    justify-content: space-between;
}
.splitter .left {
    width: calc(50% - 16px);
}
.splitter .right {
    width: calc(50% - 16px);
}

/* Decrease page title size and distantiate a bit from the text underneath */
.postHeader h1 {
    font-size: 230% !important;
}
.postHeader {
    margin-bottom: 16px;
}

/* Make blockquotes yellow (instead of red) */
blockquote {
    background-color: #fecb4d32;
    border-left-color: #fecb4d64;
}

/* Increase top margin of prev-next buttons in docs */
.docs-prevnext {
    margin: 50px 0;
}
