/* Decrease page title size and distantiate it a bit from the text underneath */
.postHeader h1 {
    font-size: 230% !important;
}

/* Splits a section of an article in two columns */
.splitter {
    display: flex;
    justify-content: space-between;
}
.splitter .left {
    width: calc(50% - 16px);
}
.splitter .right {
    width: calc(50% - 16px);
}

/* Make code blocks in getting-started-overview splitter the same height */
.gettingStartedOverviewSplitter code {
    height: 200px;
}

/* Add padding to images */
.paddedDocsImage {
    padding: 16px;
}

/* Make blockquotes yellow (instead of red) and text inside them black */
blockquote {
    color: var(--black);
    background-color: #fecb4d32;
    border-left-color: #fecb4d64;
}
