/*
 * Increase home "hero" height, color it with primary-color and make its text
 * and buttons white
 */
.homePage .homeContainer {
    background-image: url("../images/home.background.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.homePage .homeContainer .projectTitle {
    color: var(--white);
}
.homePage .homeContainer .button {
    background: var(--white);
    transition: all 0.3s;
}
.homePage .homeContainer .button:hover {
    color: var(--secondary-color);
    font-weight: 500;
}

/* Increase the size of the logo */
.homePage .staticdeployLogo {
    height: 150px;
    width: 150px;
}

.homePage .projectTitle {
    /* Reduce the distance from the logo and the title */
    margin-top: 0px;
    /* Make the title text bold */
    font-weight: 600;
}

/* Make StaticDeploy's Static yellow */
.homePage .homeContainer .staticdeployTitle > span:first-child {
    color: var(--yellow);
}

/* Reduce font weight of subtitle */
.homePage .projectTitle small {
    font-weight: 300;
}

/* Style the docker run code block */
.homePage code {
    background: var(--white);
    color: var(--secondary-color);
    padding: 4px 16px;
    font-size: 16px;
    margin-bottom: 8px;
    display: inline-block;
}

/* Increase width of the GET STARTED button */
.homePage .homeContainer .button {
    width: 140px;
}

/* Reduce space between title and features list */
.homePage .mainContainer {
    padding-top: 0px;
}

/* Increase font size in feature blocks, match the color of the icons above*/
.homePage .blockContent > div {
    font-size: 18px;
    color: #4a4a4a;
}
