.c-Root {
    min-height: 100vh;
}

.c-Root-sider {
    min-height: 100vh;
    overflow: hidden;
}

.c-Root-logo-container {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 64px;
}

.c-Root .c-SiderNav {
    width: 64px;
}

.c-Root .c-SiderNav .ant-menu-item {
    padding: 0px 24px !important;
}

.c-Root-logout-button-container {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 64px;
    color: var(--grey-4);
    transition: all 0.3s ease;
}
.c-Root-logout-button-container:hover {
    color: var(--grey-1);
}

.c-Root-content {
    padding: 16px;
}
