{
    "parser": "babel-eslint",
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "env": { "browser": true, "commonjs": true },
    "globals": { "process": true },
    "rules": { "react/prop-types": false }
}
